@CHARSET "windows-1256";

.mycontent {
	max-width:65em;
	margin:auto;
}

.form-style {
	padding-left:3%;
}

.mySlides {
width: 100%; height: 26em;
}

.table-style {
padding-top:1%;align:center;
}

.form-height {
	
	min-height:5em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.w3-btn-floating, .w3-btn-floating-large {
    display: inline-block;
    text-align: center;
    color: #000;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3em;
}

.w3-btn-floating {
    width: 40px;
    height: 40px;
    line-height: 40px;

}



.w3-display-left {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%,-4.5em);
    -ms-transform: translate(0%,-4.5em);
}

.w3-display-right {
    position: relative;
    top: 0%;
    right: 0%;
    transform: translate(0%,-4.5em);
    -ms-transform: translate(0%,-4.5em);
}

.w3-btn, .w3-btn-floating, .w3-dropnav a, .w3-btn-floating-large, .w3-btn-block, .w3-hover-shadow, .w3-hover-opacity, .w3-hover-opacity-off, .w3-hover-sepia, .w3-hover-grayscale, .w3-hover-greyscale, .w3-navbar a, .w3-sidenav a, .w3-pagination li a, .w3-hoverable tbody tr, .w3-hoverable li, .w3-accordion-content a, .w3-dropdown-content a, .w3-dropdown-click:hover, .w3-dropdown-hover:hover, .w3-opennav, .w3-closenav, .w3-closebtn, .w3-hover-amber, .w3-hover-aqua, .w3-hover-blue, .w3-hover-light-blue, .w3-hover-brown, .w3-hover-cyan, .w3-hover-blue-grey, .w3-hover-green, .w3-hover-light-green, .w3-hover-indigo, .w3-hover-khaki, .w3-hover-lime, .w3-hover-orange, .w3-hover-deep-orange, .w3-hover-pink, .w3-hover-purple, .w3-hover-deep-purple, .w3-hover-red, .w3-hover-sand, .w3-hover-teal, .w3-hover-yellow, .w3-hover-white, .w3-hover-black, .w3-hover-grey, .w3-hover-light-grey, .w3-hover-dark-grey, .w3-hover-text-amber, .w3-hover-text-aqua, .w3-hover-text-blue, .w3-hover-text-light-blue, .w3-hover-text-brown, .w3-hover-text-cyan, .w3-hover-text-blue-grey, .w3-hover-text-green, .w3-hover-text-light-green, .w3-hover-text-indigo, .w3-hover-text-khaki, .w3-hover-text-lime, .w3-hover-text-orange, .w3-hover-text-deep-orange, .w3-hover-text-pink, .w3-hover-text-purple, .w3-hover-text-deep-purple, .w3-hover-text-red, .w3-hover-text-sand, .w3-hover-text-teal, .w3-hover-text-yellow, .w3-hover-text-white, .w3-hover-text-black, .w3-hover-text-grey, .w3-hover-text-light-grey, .w3-hover-text-dark-grey {
    -webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
    transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
}

label.textfield {
	text-align: right;
	width: 10%;
	
	float: left;
	font-family: Lao UI;
	color: #808080;
	font-size: 1.8em;
}

input.textbox {
	height: 2.3em;
	width: 15em;
	text-align: left;
	padding-left: 0%;
	background-color: #D8D8D8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 1%;
	font-family: Lao UI;
	color: #A9A9A9;
	font-size: 1.8em;
}

select.textbox {
	height: 2.3em;
	width: 15em;
	text-align: left;
	padding-left: 0%;
	background-color: #D8D8D8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 1%;
	font-family: Lao UI;
	color: #A9A9A9;
	font-size: 1.8em;
}

input.radiobutton {
	margin-left: 1%;
	margin-bottom: 1%;
}

label.radiotext {
	text-align: right;
	width: 10%;
	margin-right: 6%;
	margin-bottom: 1%;
	margin-top: 1%;
	font-family: Lao UI;
	color: #808080;
	font-size: 1.8em;
}

.button {
	width: 7em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1.5em;
	background-color: #c69c6c;
	margin-left: 20%;
	font-family: Lao UI;
	font-size: 1.8em;
	color: white;
	margin-left: 29%;
       


    
}

p.hint {
	float: left;
	font-family: Lao UI;
	color: #8B4513;
	font-size: 1.8em;
}

h1.hint {
	
	font-family: Lao UI;
	color: #c69c6c;
font-size:2em;
}

.fontstyle {
	font-family: Lao UI;
	color: #808080;
font-size:1.8em;
    margin-top: 4%;
    margin-bottom: 0px;
word-break: keep-all;
width:8em;

}

.sidemsg {
	
	left:60%;
	top: 100%;
	
}

.sideform {
	
	left:10%;
	top: 95%;
}
.round-button {

	
	top: 110%;
	width:50%;
	
}
.round-button-circle {
	
font-size:1em;
    margin-left: 1.5em;

	width:50%;
	
	width: 100%;
	height:0;
	border-radius: 50%;
    overflow:hidden;
    
    background: #c69c6c; 
    box-shadow: 0 0 0.1em gray;

    width: 8em;
    height: 8em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    color: white;
 	outline: none;

}
.round-button-circle:hover {
	background:#CD853F;
}
.round-button a {

top: 0%;
	width:50%;
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    margin-left: 2%;
	text-align:center;
	color:white;
    font-family:Lao UI;
    font-size:160%;
    text-decoration:none;
}

.menu {
color: #c69c6c; float: left; width: 45%; padding-left: 2%; text-align: top; vertical-align: top;padding-bottom: 1%;
}

.menu-text {
text-align: top; vertical-align: top;color: #DEB887;padding-top: 7%; font-size: 1.8em;
}

.ar-ic {
color: #DEB887; float: right; width: 45%; padding-right: 2%;padding-bottom: 1%;
}

.site-name {
text-align: center; vertical-align: middle; color: #ffffff; background: #c69c6c; min-height: 1.8em; line-height: 1.8em; font-size: 60px
}

.clear-table {
text-decoration: none !important;padding-right:3em;padding-left:3em;padding-top:0.5em;padding-bottom:0.5em;
}

.red-arrow {
padding-left:2em;color: #cc0000;font-size: 40px;
}

.loc-inst {
text-align:left;padding-left:2em
}

.submit-size {
font-size: 2em;
}

.tooltip {
    position: relative;
	}

.tooltip .tooltiptext {
   visibility: hidden;
	display: none;
	left:50%;
    width: 11em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em 0em;
	font-size: 1.8em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}