@CHARSET "windows-1256";

.mycontent {
	max-width:62em;
	margin:auto;
	
}

.form-style {
	padding-left:10%;
	
}

.mySlides {
width: 100%; height: 26em;
}

.table-style {
padding-top:5%;align:center;
}

.form-height {
	
	min-height:30em;
}


*, *:before, *:after {
    box-sizing: inherit;
}

.w3-btn-floating, .w3-btn-floating-large {
    display: inline-block;
    text-align: center;
    color: #000;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3em;
}

.w3-btn-floating {
    width: 40px;
    height: 40px;
    line-height: 40px;
}



.w3-display-left {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%,-4.5em);
    -ms-transform: translate(0%,-4.5em);
}

.w3-display-right {
    position: relative;
    top: 0%;
    right: 0%;
    transform: translate(0%,-4.5em);
    -ms-transform: translate(0%,-4.5em);
}



label.textfield {
	text-align: right;
	width: 10%;
	
	float: left;
	font-family: Lao UI;
	color: #808080;
	font-size: 120%;
}

input.textbox {
	height: 2.3em;
	width: 15em;
	text-align: left;
	padding-left: 1%;
	background-color: #D8D8D8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 1%;
	font-family: Lao UI;
	color: #A9A9A9;
	font-size: 120%;
}

select.textbox {
	height: 2.3em;
	width: 15em;
	text-align: left;
	padding-left: 1%;
	background-color: #D8D8D8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 1%;
	font-family: Lao UI;
	color: #A9A9A9;
	font-size: 120%;
}

input.radiobutton {
	margin-left: 1%;
	margin-bottom: 1%;
}

label.radiotext {
	text-align: right;
	width: 10%;
	margin-right: 6%;
	margin-bottom: 1%;
	margin-top: 1%;
	font-family: Lao UI;
	color: #808080;
	font-size: 120%;
}

.button {
	width: 7em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1.5em;
	background-color: #c69c6c;
	margin-left: 20%;
	font-family: Lao UI;
	font-size: 110%;
	color: white;
	margin-left: 29%;
       


    
}

p.hint {
	float: left;
	font-family: Lao UI;
	color: #8B4513;
	font-size: 120%;
}

h1.hint {
	
	font-family: Lao UI;
	color: #c69c6c;
}

.fontstyle {
	font-family: Lao UI;
	color: #808080;

    margin-top: 4%;
    margin-bottom: 0px;
word-break: keep-all;
width:14.5em;
 word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.sidemsg {
	
	left:60%;
	top: 100%;
}

.sideform {
	
	left:10%;
	top: 95%;
}
.round-button {

	
	top: 110%;
	width:50%;
	
}
.round-button-circle {
	
font-size:1em;
    margin-left: 1.5em;

	width:50%;
	
	width: 100%;
	height:0;
	border-radius: 50%;
    overflow:hidden;
    
    background: #c69c6c; 
    box-shadow: 0 0 0.1em gray;

    width: 8em;
    height: 8em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    color: white;
 	outline: none;

}
.round-button-circle:hover {
	background:#CD853F;
}
.round-button a {

top: 0%;
	width:50%;
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    margin-left: 2%;
	text-align:center;
	color:white;
    font-family:Lao UI;
    font-size:160%;
    text-decoration:none;
}

.menu {
color: #c69c6c; float: left; width: 45%; padding-left: 2%; text-align: top; vertical-align: top;padding-bottom: 1%;
}

.menu-text {
text-align: top; vertical-align: top;color: #DEB887;padding-top: 7%;
}

.ar-ic {
color: #DEB887; float: right; width: 45%; padding-right: 2%;padding-bottom: 1%;
}

.site-name {
text-align: center; vertical-align: middle; color: #ffffff; background: #c69c6c; min-height: 1.8em; line-height: 1.8em; font-size: 60px
}

.clear-table {
text-decoration: none !important;padding-right:3em;padding-left:3em;padding-top:0.5em;padding-bottom:0.5em;
}

.red-arrow {
padding-left:2em;color: #cc0000;font-size: 40px;
}

.loc-inst {
text-align:left;padding-left:2em
}

.submit-size {
font-size: 2em;
}

.tooltip {
    position: relative;
	
	}

.tooltip .tooltiptext {
    visibility: hidden;
	display: none;
	left:60%;
    width: 11em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em 0.2em;
	font-size: 1.2em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

