*{
 
  direction: rtl;
}

body{
    background-color :#ffffff !important ;
    color:#000000;
       position: relative; 
}
.ba1{ width:80%; direction:rtl; margin:0 auto; }
.ba2{ width:25%;  float:right; margin-right:1%; margin-top:4px;
    
    border: 1px solid #FFFFFF;
 height:250px;
    box-shadow: 0 0 6px #BBB;border:1px solid #CCC; background-color:#FFF; 
    color: #000000;
}
.ba3{ width:71%;float:right; margin-right:1%; margin-top:4px;
   
    border: 1px solid #FFFFFF;
 height:505px;
    box-shadow: 0 0 6px #BBB;border:1px solid #CCC; background-color:#FFF; 
    color: #000000;
}
.shape5{
 height:40px;
   
   background-color:#82bdcd; 

font-size:18px;
color:#ffffff; 
text-align:center;
 padding:5px;
  
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
		   margin-top:8px;
}


.rbody{width:70%; float:left; }


.lbody{width:30%; float:right;  }
@media screen and (max-width: 768px) {

.rbody{width:100%; }

.lbody{width:100%;   }

}





@media screen and (max-width:992px) {
  .ba1{ width:100%;  }
.ba2{ width:95%;   margin-top:4px;float: none;
  margin:2px auto;
    
    border: 1px solid #FFFFFF;
 height:auto;
    box-shadow: 0 0 6px #BBB;border:1px solid #CCC; background-color:#FFF; 
    color: #000000;
}
.ba3{ width:95%;  margin-top:4px;float: none;
  
   margin:2px auto;
    
    border: 1px solid #FFFFFF;
 height:auto;
    box-shadow: 0 0 6px #BBB;border:1px solid #CCC; background-color:#FFF; 
    color: #000000;
}
  
  
  
}




















.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*start navbar */
.navbar{
	background:transparent ;
	z-index:12;
	border-radius:0px;
	border:0px;
	z-index:20;
   
}
.navbar{
    background:rgba(255,255,255,0.8);
  
}

.navbar-nav > li > a {       
    color: #82bdcd !important;
    border-left: 0px solid #ccc;
	
	display: inline-block;
    position: relative;
}
.yamm .dropdown.yamm-fw .dropdown-menu{
	background:rgba(255,255,255,0.8);
         color:#82bdcd;
}

.navbar-nav .yamm-content li{
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	list-style-image:url(../images/bullet.png);
         color:#82bdcd;
}
/*yamm start*/
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
/*yamm end */
/*end navbar*/
.colored-102 {
    background-color:#F2F2F2;
}
.bodyb {
    padding-top:5px;
    background-color:#f7f7f7;
}
.colored-101 {
    background-color:#f7f7f7;
}
.footb {
    background-color:#F0EDE7;
    color:white;
}

.back10 {
		background-color:#82bdcd;
}
.back10.a  {
        color:white;

}
.back10 a  {
        color:white;

}

.footerbackground {
     background-image: url('../images/bg.png');
     padding-top:20px;
     color:white;
}

.footerbackground a{
    color:white;
}

.footerbackground a:hover{
    color:gainsboro;
}





li:hover{
	background:none;

}
a {
    color:black;
}

a:hover{
    text-decoration: none;
    color:black;
}




.no-imgpadding{
    margin-bottom :0px !important ;
    padding-left :0px !important ;
    padding-right :0px !important ;
    margin-left :0px !important;
    margin-right :0px !important;    
    border-radius :0px;
}

.tmargin{
    margin-top: 10px;
}
.no-bmargin {
    margin-bottom :0px !important ;  
    border-radius :0px;
}

.no-tmargin{
    margin-top :0px !important ;  
}

textLink{
    color:#ffffff;
}

.shadow {
            background-color :#ffffff ;
            box-shadow: 0 0 10px 0px #eeeeee; 
}

/* style1*/

.section-heading {
   float: left;background-color :#ededed ;
  width: 100%;

  margin-bottom: 25px; margin-top:15px;
  clear: both;
}


@media screen and (max-width: 480px) {
  #block1,
  #fh5co-about-us,
  #fh5co-features,
  #fh5co-testimonials,
  #fh5co-pricing,
  #fh5co-press {
    padding: 5em 0;
  }
}
@media screen and (max-width: 992px) {
  #block1 .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}

#block1,
#fh5co-press {
  background: #f4f4f4;
}

#block1 .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}

#block1 .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
  
}
#block1 .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
#block1 .box .icon > span i {
 
  color: #fff !important;
  margin: 0;
  padding: 0;
}
.colored-7{
    background: ##82bdcd;
}
 .colored-1 {
    background-color:#82bdcd;    
}
 .colored-1 a{
       color: #f5f5f5;
 }
 .colored-2 {
  background: #2e8877;
}
 .colored-3 {

  background-image: url('../img/mediacenter/1.png');
}
.colored-4 {
  background: #3A9E9C;
}
 .colored-5 {
  background: #3b8887;
}
 .colored-6 {
  background: #2e8877;
}
#block1 .box .step-number {
 
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
 
  margin-bottom: 10px;
}
#block1 .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
 
  color: #444;
}

.color1{
    background-color :#0e6655;
}

.fa.fa-circle {
	font-size: 10px;
	color: #165b85;
}
.fa.fa-arrow-left {
	font-size: 20px;
	color: #165b85;
}
.fa.fa-arrow-right{
	font-size: 20px;
	color: #165b85;
}

.btn{
    background-color:#82bdcd;
    border-color:#82bdcd;
}
.btn:focus {
  background-color:#3A9E9C;
}
.btn:hover{
  background-color:#3A9E9C;
}

/* carsoul*/
.carousel-indicators {
  bottom:-5px;
}
.pcarousel{
    background-color:#f0ede7 ;
}   


.carousel-control {
 
  width: 5%;
  
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

/*ايقونات قيمنا في صفحة عن المدارس*/
 .avicon1 {
  background-image: url('../img/about/values/1.png');
}
.avicon2 {
  background-image: url('../img/about/values/2.png');
}

 .avicon3 {
  background-image: url('../img/about/values/3.png');
}
.avicon4 {
  background-image: url('../img/about/values/4.png');
}

 .avicon5 {
  background-image: url('../img/about/values/5.png');
}
 /*نشرة القادة*/
  .qicon30 {
  background-image: url('../img/mediacenter/qada/30.png');
}
   .qicon29 {
  background-image: url('../img/mediacenter/qada/29.png');
}
 .qicon28 {
  background-image: url('../img/mediacenter/qada/28.png');
}
  .qicon27 {
  background-image: url('../img/mediacenter/qada/27.png');
}
   .qicon26 {
  background-image: url('../img/mediacenter/qada/26.png');
}
    .qicon25 {
  background-image: url('../img/mediacenter/qada/25.png');
}
     .qicon24 {
  background-image: url('../img/mediacenter/qada/24.png');
}
  .qicon23 {
  background-image: url('../img/mediacenter/qada/23.png');
}
   .qicon22 {
  background-image: url('../img/mediacenter/qada/22.png');
}
 .qicon21 {
  background-image: url('../img/mediacenter/qada/21.png');
}
  .qicon20 {
  background-image: url('../img/mediacenter/qada/20.png');
}
   .qicon19 {
  background-image: url('../img/mediacenter/qada/19.png');
}
    .qicon18 {
  background-image: url('../img/mediacenter/qada/18.png');
}
     .qicon17 {
  background-image: url('../img/mediacenter/qada/17.png');
}
       .qicon16 {
  background-image: url('../img/mediacenter/qada/16.png');
}
   .qicon15 {
  background-image: url('../img/mediacenter/qada/15.png');
}
 .qicon14 {
  background-image: url('../img/mediacenter/qada/14.png');
}
  .qicon13{
  background-image: url('../img/mediacenter/qada/13.png');
}
   .qicon12 {
  background-image: url('../img/mediacenter/qada/12.png');
}
    .qicon11 {
  background-image: url('../img/mediacenter/qada/11.png');
}
     .qicon10 {
  background-image: url('../img/mediacenter/qada/10.png');
}  .qicon9 {
  background-image: url('../img/mediacenter/qada/9.png');
}
   .qicon8 {
  background-image: url('../img/mediacenter/qada/8.png');
}
 .qicon7 {
  background-image: url('../img/mediacenter/qada/7.png');
}
  .qicon6 {
  background-image: url('../img/mediacenter/qada/6.png');
}
   .qicon5 {
  background-image: url('../img/mediacenter/qada/5.png');
}
    .qicon4 {
  background-image: url('../img/mediacenter/qada/4.png');
}
     .qicon3 {
  background-image: url('../img/mediacenter/qada/3.png');
}
    .qicon2 {
  background-image: url('../img/mediacenter/qada/2.png');
}

        .qicon1 {
  background-image: url('../img/mediacenter/qada/1.png');
}
               .iicon {
  background-image: url('../img/mediacenter/isdarat/1.png');
}
               .picon {
  background-image: url('../img/mediacenter/isdarat/2.png');
}
               .vicon {
  background-image: url('../img/mediacenter/isdarat/3.png');
}

@media only screen and (max-width: 991px) { 
    .span-like{
        display: inline !important;
        padding-left: 0px !important;
        padding-right: 0px!important;
        margin-left: 0px !important;
        margin-right: 0px!important;
    }
    .custom-logo{
        width: 250px !important;
        height: auto;
    }
}

