@CHARSET "windows-1256";

.mycontent {
	max-width:62em;
	margin:auto;
}

.mybackground {
min-height:10em;
}

.dialog-speech {
padding-top:20%;
}


p.message {
	font-family: Lao UI;
	font-size: 180%;
	color:black;
	text-decoration:none;
	
}

.message a{
	color:black;
	text-decoration:none;
	padding:0;
	padding-top:0.5em;
border:0;
 
}

.thankyou-style {
text-align: left;
margin-left: 10%;
font-size: 1.5em;
}

p.speech {
	position: relative;
	width: 60%;
	height: 10%;
	text-align: left;
	line-height: 3em;
	background-color: #c69c6c;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 1em;
	color: White;
	font-family: Dotum;
	font-size: 240%;
}
p.speech:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 2em;
	top: 3em;
	border: 0.5em solid;
	border-color: #c69c6c transparent transparent #c69c6c;
}
.round-button {
	position: absolute;
	left: 33%;
	top: 205%;
	
    width: 100px;
;

}
.round-button-circle {
	margin-left: 8em;

	width:50%;
	
	width: 100%;
	height:0;
	border-radius: 50%;
    overflow:hidden;
    
    background: #c69c6c; 
    box-shadow: 0 0 3px gray;

    width: 6em;
    height: 6em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    color:white;
    font-family:Dotum;
font-size:160%;
 outline: none;
}
.round-button-circle:hover {
	background:#CD853F;
}
a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    margin-left: 0%;
	text-align:center;
	color:white;
    font-family:Dotum;
    font-size:160%;
    text-decoration:none;
}
.loc-round{
	position: relative;
	left: 33%;
	top: 85%;
	width:2.5%;
	
}
.cam-round{
	position: relative;
	left: 37%;
	top: 85%;
	width:2.5%;
	
}
.cam-loc-round-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    
    background: white; 
    box-shadow: 0 0 3px gray;
}

.upper-rec {
	background:white;height:15%;width: 100%; padding-top: 0px;z-index:10;
}

div.menu {
	color: #DEB887; float: left; width: 45%; padding-left: 2%; text-align: top; vertical-align: top;height:11%;
}

a.menu {
padding-top: 60%;width:0%;padding-bottom: 10%;
}

.menu-text {
margin-top:0px;padding-top: 7%; padding-left: 11%;width:0%;text-align: bottom; vertical-align: bottom; font-size: 1.8em;
}

div.ar_icon {
width:0%;color: white; float: right; width: 5%; padding-right: 3%;
}

a.ar_icon {
padding-top: 60%;width:0%;padding-bottom: 10%;
}
.red-arrow {
padding-top:8em;padding-left:6.8em; vertical-align: middle; color: #cc0000; font-size: 40px;
}

.div-icons {
padding-top:0px;text-align:left;padding-left:13em;margin-left:0px;
}

.loc-ic {
width:0%;text-decoration: none !important; margin-top: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0.2em;
}

.inst_ic {
padding-left:0.5em;width:0%;text-decoration: none !important; margin-top: 0px;padding-top: 0px;padding-bottom: 0px;
}