.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#loading {
	   width: 100%;
	   height: 100%;
	   top: 0;
	   left: 0;
	   position: fixed;
	   display: block;
	   opacity: 0.7;
	   background-color: #fff;
	   z-index: 99;
	   text-align: center;
	}

#loading-image {
	  position: absolute;
	  top: 20%;
	  left: 40%;
	  z-index: 100;
}
.loading-text {
        
        font-size: 16px;
        font-weight: bold;
        color: #054A35;
	   
}