/***
Ticket Page
***/
.app-ticket {
  overflow: hidden; }
  .app-ticket h3 {
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: bold; }
  .app-ticket h3 i {
    color: #a1acb7;
    margin-left: 5px; }
  .app-ticket p {
    margin: 0; }

.app-ticket-details .portlet-body .row {
  margin-bottom: 30px; }

.app-ticket-details .ticket-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  border-color: #e7ecf1;
  margin-bottom: 30px; }

.app-ticket-details .ticket-id,
.app-ticket-details .ticket-title {
  display: inline-block;
  font-size: 16px;
  margin-left: 30px; }

.app-ticket-details .ticket-cust a:hover {
  text-decoration: none; }

.app-ticket-details .ticket-reply-msg {
  width: 100%;
  height: 7em;
  border-color: #e7ecf1;
  outline: none; }

.app-ticket-details .ticket-assign,
.app-ticket-details .ticket-status {
  padding: 5px;
  border: 1px solid;
  border-color: #e7ecf1;
  outline: none; }

.app-ticket-config .ticket-counter {
  text-align: center; }
  .app-ticket-config .ticket-counter > h4 {
    font-size: 24px; }

@media (max-width: 991px) {
  .app-ticket-details .ticket-margin {
    margin-top: 30px; } }

@media (max-width: 480px) {
  .app-ticket-config .ticket-counter {
    margin-bottom: 30px; } }
