.testimonial {
    padding-top: 40px;
    margin-left: 40px;
}

    .testimonial .content {
        position: relative;
        background: rgb(255, 255, 255);
        min-height: 200px;
    }

.content a {
    text-decoration: none;
}

    .content a:hover {
        opacity: 0.7;
        transition: all .1s ease 0s, transform 0s ease 0s;
    }
/*#testimonial-slider div.owl-item:nth-child(2n) .content {
            background: #1abc9c;
        }

        #testimonial-slider div.owl-item:nth-child(3n+1) .content {
            background: #9b59b6;
        }*/

.testimonial .testimonial-pic {
    float: right;
    position: relative;
    clear: none;
    width: 175px;
    min-height: 175px;
    background-color: rgb(0, 0, 0);
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat no-repeat;
}

    .testimonial .testimonial-pic img {
        width: 100%;
        height: auto;
    }

.testimonial .testimonial-prof {
    color: #fff;
    margin-bottom: 10px;
    padding-right: 35%;
    text-align: right;
    position: relative;
}

.testimonial .testimonial-title {
    font-size: 22px;
    color: #3B467E;
    font-weight: bold;
    text-align: right;
}

.testimonial .testimonial-post {
    font-size: 12px;
    color: #858585;
}

.testimonial .description {
    font-size: 14px;
}

.testimonial .social-links {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .testimonial .social-links li {
        display: inline-block;
        margin-right: 10px;
    }

        .testimonial .social-links li a {
            color: #fff;
        }

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
    border: 1px solid #d5b86d;
}

.owl-theme .owl-controls .owl-page span {
    background: #333;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    margin: 5px 6px;
}

@media only screen and (max-width: 767px) {
    .testimonial {
        text-align: center;
    }

        .testimonial .testimonial-pic {
            float: none;
            margin: 0 auto;
        }

        .testimonial .testimonial-prof {
            padding-left: 0;
        }
}

/*Announcements*/
.testimonial-ANN {
    margin: 0 15px;
}

    .testimonial-ANN .content {
        padding: 0px 10px;
        border-radius: 3px;
        position: relative;
        /*background:#e67e22;*/
    }
    /*#testimonial-slider-ANN div.owl-item:nth-child(2n) .content{
    background: #1abc9c;
}
#testimonial-slider-ANN div.owl-item:nth-child(3n+1) .content{
    background: #9b59b6;
}*/
    .testimonial-ANN .testimonial-pic-ANN {
        width: 165px;
        height: 165px;
        border: 2px solid #e5e5e5;
        float: left;
        position: relative;
        margin-right: 20px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat no-repeat;
    }

        .testimonial-ANN .testimonial-pic-ANN img {
            width: 100%;
            height: auto;
        }

    .testimonial-ANN .testimonial-prof-ANN {
        color: #fff;
        margin-bottom: 10px;
        padding-left: 10%;
    }

    .testimonial-ANN .testimonial-title {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: bold;
        margin: 0;
    }

    .testimonial-ANN .testimonial-post {
        font-size: 12px;
        color: #ebe9e9;
    }

    .testimonial-ANN .description {
        font-size: 14px;
    }

    .testimonial-ANN .social-links {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .testimonial-ANN .social-links li {
            display: inline-block;
            margin-right: 10px;
        }

            .testimonial-ANN .social-links li a {
                color: #fff;
            }

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
    border: 1px solid #d5b86d;
}

.owl-theme .owl-controls .owl-page span {
    background: #333;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    margin: 5px 6px;
}

@media only screen and (max-width: 767px) {
    /*.testimonial-ANN{
        text-align: center;
    }
    .testimonial .testimonial-pic-ANN{
        float: none;
        margin: 0 auto;
    }
    .testimonial .testimonial-prof-ANN{
        padding-left: 0;
    }*/
}
/*END Announcements*/

#box27 {
    float: none;
    height: 41px;
    margin: 0px auto;
    clear: none;
    width: 110px;
    background-image: url('../../Images/PictureToe.png');
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    padding-top: 12px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text3 {
    float: right;
    width: 100%;
    height: auto;
    text-align: right;
    margin: 10px 0;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: #d5b86d;
}

#textspan6 {
    float: none;
    font-size: 13px;
    line-height: 1em;
    font-weight: 500;
    color: rgb(34, 29, 32);
}
