#myForm div.form-body .row,  #commentForm div.form-body .row{
  margin-right: -15px;
  margin-left: -15px; }
  
  
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.text-left {
  text-align: right; }

.text-right {
  text-align: left; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  
  .container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }



#myForm div.form-body .row .col-xs-1, #myForm div.form-body .row .col-xs-2, #myForm div.form-body .row .col-xs-3, #myForm div.form-body .row .col-xs-4, #myForm div.form-body .row .col-xs-5, #myForm div.form-body .row .col-xs-6, #myForm div.form-body .row .col-xs-7, #myForm div.form-body .row .col-xs-8, #myForm div.form-body .row .col-xs-9, #myForm div.form-body .row .col-xs-10, #myForm div.form-body .row .col-xs-11, #myForm div.form-body .row .col-xs-12 {
  float: right; }
  
#commentForm div.form-body .row .col-xs-1, #commentForm div.form-body .row .col-xs-2, #commentForm div.form-body .row .col-xs-3, #commentForm div.form-body .row .col-xs-4, #commentForm div.form-body .row .col-xs-5, #commentForm div.form-body .row .col-xs-6, #commentForm div.form-body .row .col-xs-7, #commentForm div.form-body .row .col-xs-8, #commentForm div.form-body .row .col-xs-9, #commentForm div.form-body .row .col-xs-10, #commentForm div.form-body .row .col-xs-11, #commentForm div.form-body .row .col-xs-12 {
  float: right; }  
  
  .btn-group > .btn,
  .btn-group-vertical > .btn {
    position: relative;
    float: right; }
	
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px; }

.btn-toolbar {
  margin-right: -5px; }
  .btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table; }
  .btn-toolbar:after {
    clear: both; }
  .btn-toolbar .btn,
  .btn-toolbar .btn-group,
  .btn-toolbar .input-group {
    float: right; }
	
.btn-group > .btn:first-child {
  margin-right: 0; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.btn-group > .btn-group {
  float: right; }
  
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }
  
.btn .caret {
  margin-right: 0; }
  
.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .input-group[class*="col-"] {
    float: none;
    padding-right: 0;
    padding-left: 0; }
  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: right;
    width: 100%;
    margin-bottom: 0; }
    .input-group .form-control:focus {
      z-index: 3; }
	  
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .input-group-btn > .btn {
    position: relative; }
    .input-group-btn > .btn + .btn {
      margin-right: -1px; }
    .input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
      z-index: 2; }
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group {
    margin-left: -1px; }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-right: -1px; }
  

.control-label {
    text-align: right !important;
}

.col-pb-1, .col-pb-2, .col-pb-3 , .col-pb-4, .col-pb-5, .col-pb-6, .col-pb-7 {
	position:relative;
    min-height:1px;
    padding-right: 2px;
    padding-left: 2px;
    float: right;
}

.col-pb-1 {
    width: 6%;
}

.col-pb-2 {
    width: 8%;
}

.col-pb-3 {
    width: 10%;
}

.col-pb-4 {
    width: 11%;
}

.col-pb-5 {
    width: 13%;
}

.col-pb-6 {
    width: 25%;
}

.col-pb-7 {
    width: 15%;
}

.mt-element-step .step-thin .mt-step-title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: -4px;
    padding-right: 0px !important;
}

.mt-element-step .step-thin .mt-step-content {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 0px !important;
}

.font-grey-cascade {
    text-align: center !important;
    color: #95A5A6 !important;
}

.mt-element-step .step-thin .mouseover {
	background-color:#8fe0f7!important;
	cursor: pointer
	}

.mt-element-step .step-thin .done{
	background-color:#3B467E!important;
	}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



@media (min-width: 768px) {
  #myForm div.form-body .row .col-sm-1, #myForm div.form-body .row .col-sm-2, #myForm div.form-body .row .col-sm-3, #myForm div.form-body .row .col-sm-4, #myForm div.form-body .row .col-sm-5, #myForm div.form-body .row .col-sm-6, #myForm div.form-body .row .col-sm-7, #myForm div.form-body .row .col-sm-8, #myForm div.form-body .row .col-sm-9, #myForm div.form-body .row .col-sm-10, #myForm div.form-body .row .col-sm-11, #myForm div.form-body .row .col-sm-12 {
    float: right; }
	
	}
	
@media (min-width: 768px) {
  #commentForm div.form-body .row .col-sm-1, #commentForm div.form-body .row .col-sm-2, #commentForm div.form-body .row .col-sm-3, #commentForm div.form-body .row .col-sm-4, #commentForm div.form-body .row .col-sm-5, #commentForm div.form-body .row .col-sm-6, #commentForm div.form-body .row .col-sm-7, #commentForm div.form-body .row .col-sm-8, #commentForm div.form-body .row .col-sm-9, #commentForm div.form-body .row .col-sm-10, #commentForm div.form-body .row .col-sm-11, #commentForm div.form-body .row .col-sm-12 {
    float: right; }
	
	}	
	
@media (min-width: 992px) {
  #myForm div.form-body .row .col-md-1, #myForm div.form-body .row .col-md-2, #myForm div.form-body .row .col-md-3, #myForm div.form-body .row .col-md-4, #myForm div.form-body .row .col-md-5, #myForm div.form-body .row .col-md-6, #myForm div.form-body .row .col-md-7, #myForm div.form-body .row .col-md-8, #myForm div.form-body .row .col-md-9, #myForm div.form-body .row .col-md-10, #myForm div.form-body .row .col-md-11, #myForm div.form-body .row .col-md-12 {
    float: right; }
	
	}
	
@media (min-width: 992px) {
  #commentForm div.form-body .row .col-md-1, #commentForm div.form-body .row .col-md-2, #commentForm div.form-body .row .col-md-3, #commentForm div.form-body .row .col-md-4, #commentForm div.form-body .row .col-md-5, #commentForm div.form-body .row .col-md-6, #commentForm div.form-body .row .col-md-7, #commentForm div.form-body .row .col-md-8, #commentForm div.form-body .row .col-md-9, #commentForm div.form-body .row .col-md-10, #commentForm div.form-body .row .col-md-11, #commentForm div.form-body .row .col-md-12 {
    float: right; }
	
	}	
@media (min-width: 1200px) {
  #myForm div.form-body .row .col-lg-1, #myForm div.form-body .row .col-lg-2, #myForm div.form-body .row .col-lg-3, #myForm div.form-body .row .col-lg-4, #myForm div.form-body .row .col-lg-5, #myForm div.form-body .row .col-lg-6, #myForm div.form-body .row .col-lg-7, #myForm div.form-body .row .col-lg-8, #myForm div.form-body .row .col-lg-9, #myForm div.form-body .row .col-lg-10, #myForm div.form-body .row .col-lg-11, #myForm div.form-body .row .col-lg-12 {
    float: right; }
	
	}
	
@media (min-width: 1200px) {
  #commentForm div.form-body .row .col-lg-1, #commentForm div.form-body .row .col-lg-2, #commentForm div.form-body .row .col-lg-3, #commentForm div.form-body .row .col-lg-4, #commentForm div.form-body .row .col-lg-5, #commentForm div.form-body .row .col-lg-6, #commentForm div.form-body .row .col-lg-7, #commentForm div.form-body .row .col-lg-8, #commentForm div.form-body .row .col-lg-9, #commentForm div.form-body .row .col-lg-10, #commentForm div.form-body .row .col-lg-11, #commentForm div.form-body .row .col-lg-12 {
    float: right; }
	
	}

@media (min-width: 992px) {
	.comment-control{
		padding-right: 0px !important;
	}
}
@media (max-width: 991px) {
	textarea.form-control {
		margin-left: 15px !important;
		margin-right: 15px !important;
	    width: 95%;
	}
}

	
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px; } }	