@media (max-width: 767px){
	.my-header .page-header-top .top-menu .navbar-nav>li.dropdown-extended.dropdown-notification>.dropdown-menu {
	    margin-left: -160px  !important;
	}
}

.my-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu {
    background: #E5E5E5  !important;
    border: 0 !important;
}

.my-header .page-header-top .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    min-width: 160px !important;
    max-width: 300px !important;
    width: 300px !important;
    z-index: 9996 !important;
}

.my-header .page-header-top .top-menu .navbar-nav>li.dropdown>.dropdown-menu {
    z-index: 9996 !important;
    margin-top: 5px !important;
    margin-left: 7px !important;
}   

.my-header .page-header-top .top-menu .navbar-nav>li.dropdown>.dropdown-menu:before {
    position: absolute !important;
    top: -8px !important;
    left: 9px !important;
    display: inline-block!important !important;
    border-left: 8px solid transparent !important;
    border-bottom: 8px solid #efefef !important;
    border-right: 8px solid transparent !important;
    content: '' !important;
} 

.dummy > li > ul > li > a  {
    color: #666 !important;
}

.dummy > li > ul > li:hover, .dummy > li > ul > li:focus , ul.dropdown-menu-default > li:focus , ul.dropdown-menu-default >li:hover {
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #428bca !important;
}

.navbar-nav .open .dropdown-menu > li > ul > li > a {
    padding: 6px 13px 6px 0  !important;
    color: #333 !important;
}
    
.navbar-nav > li > .dummy {
    margin-top: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.navbar-nav > li > .dummy {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.open > .dummy {
    display: block !important;
}
.open > .dummy {
    display: block !important;
}
.btn-group > .dummy, .dropdown-toggle > .dummy, .dropdown > .dummy {
    margin-top: 10px !important;
}
.dropdown > .dummy, .dropdown-toggle > .dummy, .btn-group > .dummy {
    margin-top: 10px !important;
}
.dummy {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: none !important;
    float: left !important;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
        margin-top: 2px !important;
    font-size: 14px !important;
    list-style: none !important;
    background-color: #ffffff !important;
    border: 1px solid #cccccc !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    background-clip: padding-box !important;
}
.dummy {
    list-style: none !important;
    font-size: 14px !important;
    text-align: right !important;
}
.dummy {
    list-style: none !important;
    text-shadow: none !important;
}

.dummy {
    position: absolute !important;
    top: 100% !important;
    left: auto !important;
    z-index: 1000 !important;
    display: none !important;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
        margin-top: 2px !important;
    list-style: none !important;
    font-size: 14px !important;
    text-align: right !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    background-clip: padding-box !important;
}
.dummy {
    box-shadow: 5px 5px rgba(102,102,102,.1) !important;
    left: auto !important;
    min-width: 175px !important;
    position: absolute !important;
    z-index: 1000 !important;
    display: none !important;
    float: right !important;
    list-style: none !important;
    text-shadow: none !important;
    padding: 0 !important;
    background-color: #fff !important;
    margin: 10px 0 0 !important;
        margin-top: 10px !important;
        margin-left: 0px !important;
    margin-top: 10px !important;
    margin-left: 0px !important;
    border: 1px solid #eee !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
}
.dummy {
    left: auto !important;
    min-width: 175px !important;
    position: absolute !important;
    z-index: 1000 !important;
    display: none !important;
    float: right !important;
    list-style: none !important;
    text-shadow: none !important;
    padding: 0px !important;
    background-color: #ffffff !important;
    margin: 10px 0px 0px 0px !important;
        margin-top: 10px !important;
    border: 1px solid #eee !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
}
.dummy {
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1) !important;
}

.nav.pull-right > li > .dropdown-menu, .nav > li > .dropdown-menu.pull-right {

    left: 0 !important;
    right: auto !important;

}

.dropdown-menu-center {
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
}
