.page-header .page-header-top .top-menu .navbar-nav > li.dropdown {
    margin: 0;
    padding: 0 4px;
    height: 50px;
    display: inline-block;
}

.navbar-nav, .navbar-nav > li {
    float: right;
}

.nav > li, .nav > li > a {
    display: block;
    position: relative;
}

.collapsing, .dropdown, .dropup {
    position: relative;
}


*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    list-style: none;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
    margin: 0 1px 0 0;
    padding: 17px 10px 8px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    padding: 10px 15px;
}

a {
    text-shadow: none;
    color: #337ab7;
    background-color: transparent;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
    color: #C1CCD1;
    font-size: 19px;
}

li [class*=" icon-"], li [class^="icon-"] {
    top: 1px;
    position: relative;
}

li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"], li [class^="fa-"], li [class^="glyphicon-"], li [class^="icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^="fa-"]:not(.fa-stack), [class^="glyphicon-"], [class^="icon-"] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}


li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"], li [class^="fa-"], li [class^="glyphicon-"], li [class^="icon-"] {
    text-align: center;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^="fa-"]:not(.fa-stack), [class^="glyphicon-"], [class^="icon-"] {
    line-height: 14px;
}


.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
    background: #064b36;
    border: 0;
}
.page-header .page-header-top .top-menu .navbar-nav li.dropdown-dark .dropdown-menu {
    border: 0;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 300px;
    width: 300px;
    z-index: 9996;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-menu {
    z-index: 9996;
    margin-top: 5px;
    margin-left: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.nav.pull-right > li > .dropdown-menu, .nav > li > .dropdown-menu.pull-right {
    left: 0;
    right: auto;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .dropdown-menu, .dropdown-toggle > .dropdown-menu, .dropdown > .dropdown-menu {
    margin-top: 10px;
}
.open > .dropdown-menu {
    display: block;
}
.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}
.dropdown-menu {
    box-shadow: 5px 5px rgba(102,102,102,.1);
    left: auto;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: right;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
        margin-top: 10px;
        margin-left: 0px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: right;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.btn-group > .btn-group, .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .dropdown-menu {
    float: right;
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child, ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}

ol, ul {
    margin-bottom: 10px;
}
dl, ol, ul {
    margin-top: 0;
}

.page-header .page-header-top .top-menu .navbar-nav li.dropdown-dark .dropdown-menu::before {
    border-right: none;
    border-left: none;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-menu::before {
    position: absolute;
    top: -8px;
    left: 9px;
    display: inline-block !important;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #efefef;
    border-right: 8px solid transparent;
    content: '';
}
.nav.pull-right > li > .dropdown-menu::before, .nav > li > .dropdown-menu.pull-right::before {
    left: 12px;
    right: auto;
}
.btn-group > .dropdown-menu::before, .dropdown-toggle > .dropdown-menu::before, .dropdown > .dropdown-menu::before {
    position: absolute;
    top: -8px;
    right: 9px;
    left: auto;
    display: inline-block !important;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-right: 8px solid transparent;
    content: '';
}

.dropdown-menu {
    list-style: none;
    text-shadow: none;
}
.dropdown-menu {
    list-style: none;
    font-size: 14px;
    text-align: right;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list {
    padding-left: 0 !important;
    padding-right: 0;
    list-style: none;
}
.scroller {
    padding: 0 0 0 12px;
        padding-right: 0px;
        padding-left: 12px;
    margin: 0;
    overflow: hidden;
}




